componentes{
    display: block;
}
titulo{
    display: block;
    font-family: arial;
    color:olive;
    font-weight: 600;
    font-size: 22;
    margin-top: 12pt;
    text-align: center;
}
componente{
    display: block;
}
item{
    display: block;
    font-family: arial;
    color: #008000;
    font-weight: 400;
    margin-left: 15pt;
    margin-top: 12pt;
    font-size: 18;
}
fabricante{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: 400;
    margin-left: 45pt;
    margin-top: 5pt;
    font-size: 18;
}
modelo{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: 400;
    margin-left: 45pt;
    margin-top: 5pt;
    font-size: 18;
}
precio{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    font-weight: 400;
    margin-left: 45pt;
    margin-top: 5pt;
    font-size: 18;
}